################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SOLID
/obj
/bin/Debug/netcoreapp2.2
